$back-color: white;
$head-color: black;
$head-text-color: white;
$nav-border-color: mediumseagreen;
$card-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$overlay-shadow: 0px 18px 26px 1px rgba(141, 141, 139, .75);
$top-padding: 130px;
$home-height: 80vh;